        <div class="form">

            <h1>Thank you for joining us!</h1>
            <h2>Your signature:</h2>


<img src={{canvasSign}}>


<a href="/signers/"><h1>See all signers</h1></a> <br>
<a href="/editprofile/"><h2>See your data</h2></a>
<a href="/login/"><h2>Log out</h2></a>



</div>
